.SecureAccess-section {
  padding: 50px 0;
}

.visual-content img {
  max-width: 100%;
  height: auto;
}

.info-content h5 {
  color: rgb(70, 71, 72); 
}

.info-content h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.info-content p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}

.explore-btn {
  background-color: #808080; 
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.explore-btn:hover {
  background-color: white; 
  color: #808080; 
  border: 1px solid #808080;
}


/* .SecureAccess-section {
  padding: 50px 0;
}

.visual-content {
  text-align: center;
  margin: 20px 0;
}

.custom-img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 768px) and (max-width: 992px) {
  .custom-img {
    width: 80%;  
    height: auto; 
    max-height: 400px; 
  }
}

@media (max-width: 768px) {
  .info-content {
    text-align: center;
  }
}

.info-content h5 {
  color: rgb(70, 71, 72);
}

.info-content h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.info-content p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}

.explore-btn {
  background-color: #808080;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.explore-btn:hover {
  background-color: white;
  color: #808080;
  border: 1px solid #808080;
} */
